## Feature Scaling

# 1. Min Max Scaling

In [3]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
data = {'awen_numbers': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df.head()

   awen_numbers
0            10
1            20
2            30
3            40
4            50

In [11]:
# Scaller the data 
scale = MinMaxScaler()
df['scaled_number'] = scale.fit_transform(df[['awen_numbers']])
df.head()

   awen_numbers  scaled_number  awen_numbers_scaled
0            10           0.00            -1.414214
1            20           0.25            -0.707107
2            30           0.50             0.000000
3            40           0.75             0.707107
4            50           1.00             1.414214

# 2. Standard Scaler or Z- Score Normilization

In [7]:
from sklearn.preprocessing import StandardScaler

In [9]:
standard = StandardScaler()

In [10]:
df['awen_numbers_scaled'] = standard.fit_transform(df[['awen_numbers']])
df.head()

   awen_numbers  scaled_number  awen_numbers_scaled
0            10           0.00            -1.414214
1            20           0.25            -0.707107
2            30           0.50             0.000000
3            40           0.75             0.707107
4            50           1.00             1.414214

# 3. Robust Scale

In [12]:
from sklearn.preprocessing import RobustScaler

In [13]:
scaler = RobustScaler()
df['awen_numbers_robust'] = scaler.fit_transform(df[['awen_numbers']])
print(df)

   awen_numbers  scaled_number  awen_numbers_scaled  awen_numbers_robust
0            10           0.00            -1.414214                 -1.0
1            20           0.25            -0.707107                 -0.5
2            30           0.50             0.000000                  0.0
3            40           0.75             0.707107                  0.5
4            50           1.00             1.414214                  1.0

# 4. Logrithmic scaling/ Normalization

In [14]:
import numpy as np
import pandas as pd

#random data with outliers
data = {'awen_numbers': [10000, 20000, 30000, 1000000, 50000]}
df = pd.DataFrame(data)

# Log Transform
df['awen_numbers_log'] = np.log(df['awen_numbers'])
df['awen_numbers_log2'] = np.log2(df['awen_numbers'])
df['awen_numbers_log10'] = np.log10(df['awen_numbers'])
df.head()

   awen_numbers  awen_numbers_log  awen_numbers_log2  awen_numbers_log10
0         10000          9.210340          13.287712            4.000000
1         20000          9.903488          14.287712            4.301030
2         30000         10.308953          14.872675            4.477121
3       1000000         13.815511          19.931569            6.000000
4         50000         10.819778          15.609640            4.698970